<div class="wrapper">
  <div class="row">
    <div class="text-center">
      <img src="/assets/img/burger.png" />
    </div>
  </div>

  <div class="row">
    <div class="text-center">
      {{#each burgersNotDevoured}}
        <form action="/devour" method="POST">
          <input type="hidden" name="id" value="{{id}}" />
          <div class="burger-name">{{name}}</div>
          <button name="devour">Devour it!</button>
        </form>
      {{/each}}
    </div>

    <div class="text-center">
      {{#each burgersDevoured}}
        <div>
          <div class="burger-name is-deleted">{{name}}</div>
        </div>
      {{/each}}
    </div>
  </div>

  <div>
    <form class="submit" action="/insert" method="POST">
      <input type="text" name="name" placeholder="Name of the burger" required />
      <input type="submit" name="insert" value="Submit it!" />
    </form>
  </div>

</div>